* {
    padding: 0px;
    margin: 0px;
    border: none;

}

input:focus {
    box-shadow: none !important;
}
.form-group-1{
position: relative;
}
.eye1 {
	position: absolute;
	top: 22px;
	right: 0px;
	background: #dc3545;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 0 5px 5px 0px;
    cursor: pointer;
    color: #fff;
}


.form-group-2{
    position: relative;
}
.eye2 {
	position: absolute;
	top: 23px;
	right: 0px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 0 5px 5px 0;
	background: #dc3545;
    cursor: pointer;
    color: #fff;
}